@import "../fonts/thaisansneue/fontface.css";
html{
	height: 100%;
}
body{
		background: -webkit-linear-gradient(left top, #FF8500 , white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #FF8500, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #FF8500, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #FF8500 , white); /* Standard syntax */
	background-repeat : no-repeat;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'thaisans_neueregular';
}
pre{
    font-family: 'thaisans_neueregular';
}

#header{
	width : 1140px;
	margin : 0 auto;
	border-radius : 2px;
	border : 2px solid black;
}

#topLogo{
	text-align : center;
	margin-top : 0em;
}

li{
	text-decoration : none;
}

#menu{
	width : 1140px;
	margin-top : 2em;
	height : 50px;
	margin : 0 auto;
}
#menu li{
	float: left;
	width: 230px;
	height: 50px;
	list-style-type : none;
}
#menu li a{
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	list-style-type : none;
	text-align: center;
	line-height: 50px;
	color: #FFF;
	background-color : #8B4726 ;
	background-image : url('../img/bg-line.png');
	width: 90%;
	margin: 0 25%;
	display: inline-block;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}


#content{
	height : 320px;
	border-radius : 5px;
	width : 800px;
	margin: 0 auto;
	margin-top : 0.5em;
}

.resize{
	width: 800px;
	max-height: 315px;
	min-height: 315px;
}
.slide{
	position: relative;
	width: 800px;
	max-height: 320px;
	min-height: 320px;
	border : 2px solid black;
	border-radius : 5px;
}

#news{
	height : 400px;
}

#login{
	float : left;
	width : 340px;
	height : 720px;
	margin-top : -400px;
	margin-left : 20px;
	border : 2px solid black;
}

#external{
	float : right;
	width : 340px;
	height : 720px;
	margin-top : -400px;
	margin-right : 20px;
	border : 2px solid black;
}

#loginbut{
	width : 7em;
}

#side_menu{
	float : left;
	width : 20%;
	height : 700px;
	border : 2px solid black;
	margin-left : 1em;
	border-radius : 5px;
	background: -webkit-linear-gradient(left top, #DBD9D9 , white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #DBD9D9 , white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #DBD9D9 , white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #DBD9D9 , white); /* Standard syntax */
}

#mid_menu{
	float : right;
	width : 78%;
	height : 700px;
	border : 2px solid black;
	border-radius : 5px;
	background: -webkit-linear-gradient(left top, #DBD9D9 , white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #DBD9D9 , white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #DBD9D9 , white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #DBD9D9 , white); /* Standard syntax */
}

.emailResult{
	padding : 5px;
	background : rgba(255,255,255,0.3);
	margin : 5px;
	cursor : pointer;
}
#resultViewContainer{
	padding : 5px;
	background : rgba(255,255,255,0.3);
	margin : 5px;
	display: none;
}
body {
overflow-y: scroll;
}
body.modal-open {
overflow-y: scroll;
margin: 0;
}

.modal {
overflow: auto;
}
.navbar{
    border-radius: 0px;
}
.navbar-nav{
    font-size:18px;
}
.modal-body{
    text-align: center;
}